@import url('https://fonts.googleapis.com/css?family=Lexend+Mega:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*-------Body margins-------*/


body {
    background-color: #ffffff;
}

header {
    margin: 0;
}


/*-------Navigation bar-------*/


.nav {
    margin-bottom: 0px;
    background-color: #60809f;
    color: #ffffff;
    border-bottom: 1px solid #345192;
    border-radius: 0;
}

#nav-title {
    font-family: "Lexend Mega", "sans-serif";
    color: #ffffff;
}

.navbar-section {
    padding: 0px;
}


/*-------Padding, margins and text-------*/


h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}


/*-------Footer-------*/


footer {
    background-color: #60809f;
    font-size: 16px;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

footer #footer-details {
    margin: 20px;
}


/*-------Section-------*/


.section-heading {
    font-family: "Lexend Mega", "sans-serif";
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 25px;
}


/*-------Media Queries-------*/


@media(min-width: 992px) {
    .section-column {
        /*padding: 0 30px 30px;*/
        float: none;
    }
}


/*-------Finder and Map-------*/


.map-section {
    border-bottom: 1px solid #d0d0d0;
}

#map {
    min-height: 500px !important;
}

.input-boxes {
    width: 100%;
    line-height: 50px;
    font-size: 15px;
    margin-bottom: 25px;
    border-radius: 5px;
}

#country {
    height: 50px;
}

.find-header {
    font-family: "Lexend Mega", "sans-serif";
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 10px;
}

#reset-button {
    margin-bottom: 20px;
    margin-top: 90px;
}

.filter-column {
    height: 592px;
    border-right: 1px solid #d0d0d0;

}

.radio-form {
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 10px;
}

.radio-buttons {
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 5px;
    font-family: "Lexend Mega", "sans-serif";
    font-size: 17px;
}


/*-------Results-------*/


table {
    font-size: 15px;
}

#listing {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 25px;
}

#resultsTable {
    border-collapse: collapse;
    width: 100%;
}

#rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
}

.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}

.iw_table_icon {
    text-align: right;
}